/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Estilo do Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

header h1 {
    font-size: 2em;
    color: #4CAF50;  /* Cor verde chamativa */
    font-family: 'Arial Black', sans-serif;
}

header .logo img {
    max-width: 80px;
    height: auto;
}

/* Estilo do Main */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilo dos inputs e botão */
label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
}

button:hover {
    background-color: #45a049;
}

/* Estilo do Resultado */
.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

/* Estilo do Footer */
footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    color: #555;
    font-size: 0.9em;
    width: 100%;
}
